@model List<Movie>


<h1>Joel's Movie Collection</h1>

<table class="table table-bordered">
    <thead class="fw-bold">
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To</td>
            <td>Copied to Plex</td>
            <td>Notes</td>
            <td></td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        @foreach (var row in Model)
        {
            <tr>
                <td>
                    @{
                        string categoryName = ""; // Initialize categoryName
                        foreach (Categories m in ViewBag.Categories)
                        {
                            if (row.CategoryId == m.CategoryId)
                            {
                                categoryName = m.Category;
                                break; // Exit the loop once a match is found
                            }
                        }
                    }
                    @categoryName
                </td>
                    <td>@row.Title</td>
                    <td>@row.Year</td>
                    <td>@row.Director</td>
                    <td>@row.Rating</td>
                    <td>@row.Edited</td>
                    <td>@row.LentTo</td>
                    <td>@row.CopiedToPlex</td>
                    <td>@row.Notes</td>

                    <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@row.MovieId">Edit</a></td>
                    <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@row.MovieId">Delete</a></td>
                </tr>
        
        }
    </tbody>
</table>
